.root {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  position: relative;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.34);
    border-color: yellow;
  }

  p {
    font-size: 18px;
    width: 100%;
    text-align: center;

  }

  img {
    height: 250px;
  }

  span {
    font-size: 20px;
    
  }
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  user-select: none;
}

.star_notfav >path{
fill:rgba(255, 255, 255, 0.89)
}
.star_fav >path{
  fill:rgba(145, 10, 207, 0.89)
}

.textColor{
  color: aliceblue;
}

.card_price{
  color: aliceblue;
  padding: 10px;

}

.card_btn{
  display:inline-block;

  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#2c2a2a;
  text-align:center;

  transition: all 0.2s;
  
  &:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
}