<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Personal Blog</h1>
  <p>Build with Node.js Express, EJS, MongoDB</p>
</body>
</html>
