.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    align-items: center;
    background: #313131;
}

.hero_top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero_top_bar_link_company {
    display: flex;
}

.hero_top_bar_link {
    text-decoration: none;
    display: block;
}

.hero_company_logo {
    padding: 22px 27px;
    height: 27px;
    width: 27px;
}

.hero_company_name {
    color: #FFF;
    align-self: center;
    font-size: 22px;
    line-height: 30px;
}

.hero_navi_menu {

    display: flex;
    list-style: none;
}


.hero_navi_menu_item {

    margin: 0 18px;
}

.hero_navi_menu_link {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 800;

}

.hero_navi_menu_link:hover {
    color: #14B9D5;
}

.search {
    padding: 25px;
    background: #000;
    text-decoration: none;
}


.hero_main_content {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 65%;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero_main_name {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    font-weight: 700;
}

.hero_main_text {

    display: flex;
    flex-direction: column;
    justify-content: center;



}

.hero_main_btns {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.hero_main_btn_p {
    text-decoration: none;
    display: flex;
    padding: 16px 19px;
    margin: 0 10px;
    border-radius: 3px;
    color: #FFFFFF;
}
.blue_btn {
    background-color: #14B9D5;
    padding: 16px 30px;
}
.green_btn {
    background-color: #89CA62;
    padding: 16px 19px;
}

.posts_part {
    background-color: #F2F2F2;
}

.posts_topic_name {
    padding-top: 49px;
    text-align: center;
    margin-bottom: 52px;
}

.popular_posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    column-gap: 30px;
    grid-row-gap: 30px;
    align-content: space-between;
}

.popular_posts_photos_card {
    width: 370px;
}

.photos_imgs {
    text-align: center;
    width: 370px;

}

.card_text {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 700;
    background-color: white;
}

.about_clients {
    background-image: url(../img/Shape%2022.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-bottom: 150px;
}

.about_clients_title {
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 106px;
}

.about_clients_logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 58px;
    justify-content: center;
    margin-top: 197px;


}

.top_rated_logo {
    margin: 50px 0;
    text-align: center;
}

.top_reated_photo_carusel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.top_rated_photo_img {
    width: 100%;
}

.hot_news {
    margin-bottom: 70px;
    width:1168px;
    margin: 0 auto;
}

.hot_news_logo {
    margin: 50px 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-row-gap:44px;
    grid-template-areas:
        "part1 part1 part1 part2"
        "part3 part3 part4 part4"
        "part5 part5 part6 part6"
        "part7 part8 part8 part8";
    justify-content: space-between;
    align-content: space-between;
}

.part1 {
    grid-area: part1;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* align-items: center; */
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width:856px;

}

.part1_about {
    
    padding: 41px 24px 0 0;
    margin-left: 10px;
    text-align: right;
}

.part2 {
    grid-area: part2;
    background-color: #F9F7F7;
    width:277px;
    justify-self: end;

}

.part2_pic {
    width: 100%;
}

.part2_about_header {
    text-align: center;
    padding-top: 12px;
}

.part3 {
    grid-area: part3;
    width: 554px;
}

.part3_about {
    padding-right: 14px;
    padding-bottom: 3px;
    text-align: right;
    background-color: #F9F7F7;
}

.part3_pic {
    /* width: 100%; */
}

.part4 {
    grid-area: part4;
    width: 554px;
    justify-self: end;
}

.part4_pic {
    width: 100%;

}

.part4_about {
    padding-bottom: 3px;
    padding-right: 14px;
    text-align: right;
    background-color: #F9F7F7;
}

.part5 {
    grid-area: part5;
    width: 554px;
}

.part5_pic {
    width: 100%;

}

.part5_about {
    padding-bottom: 3px;
    padding-right: 14px;
    text-align: right;
    background-color: #F9F7F7;
}

.part6 {
    grid-area: part6;
    width: 554px;
    justify-self: end;
}

.part6_pic {
    width: 100%;
}

.part6_about {
    padding-bottom: 3px;
    padding-right: 14px;
    text-align: right;
    background-color: #F9F7F7;
}

.part7 {
    grid-area: part7;
    background-color: #F9F7F7;
    width:277px;

}

.part7_pic {
    
    
}

.part7_about_header {
    text-align: center;
    padding-top: 12px;
}

.part8 {
    grid-area: part8;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width:856px;
    justify-self: end;
}



.part8_about {
    padding-bottom: 3px;
    padding-right: 14px;
    text-align: right;
    background-color: #F9F7F7;
}


.title_format {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-bottom: 14px;
    font-weight: bold;
}

.text_format {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #5B6469;
    
}

.footer_bottom {
    background-color: #000000;
}

.footer_bottom_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer_text {
    padding: 30px 0;
    color: white;
    display: block;
}

.footer_bottom_logo {
    justify-self: end;
    align-self: center;

}

.blue_color_text {
    color: #18B4CF;
    font-size: 27px;
    line-height: 37px;
    font-weight: 600;
    text-transform: uppercase;

}

