.shop_header{
margin: 0;
padding: 0;
height:55px;
background-color: rgba($color: #330438, $alpha: 0.9);
border: 1px solid purple;


}

.shop_title{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    color: white;
}

.shop_menu{
    display: flex;
    list-style: none;
   justify-content: center;
}
.shop_menu_item{
    text-decoration: none;
    
}

.shop_menu_link{
    text-decoration: none;
    color: white;   
}
.shop_menu_link_active{
    color: rgb(255, 255, 0);
}