* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
}

.hero_menu {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    
}
.hero_menu_item {
    display: inline-block;
    
    padding-left: 25px;
    padding-right: 25px;
      
}
.hero_menu_link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
   
    
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.main_page {
    padding-bottom: 3rem;
}

.main_name_of_article {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
.paragraph_ {
   
    font-size: 16px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: 2.4px;
    
    margin-bottom: 28px;
    

}
.main_btn {
   
    margin-top: 66px;
    text-align: center;
    margin: 0 auto;
}

.main_btn_link {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    line-height: 12px;
    padding: 18px 43px;
    color: white;
    background-color: #FF0000;
}
.copyright {
    
    text-align: right;
    padding-bottom: 2rem;
    
}
.copyright_text {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}