.header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);

}

.header_logo {
    padding: 18px 0;
    margin-left: 79px;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    transition-duration: 500ms;
    transition-property: color;
}

.header_leftpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_leftpart_svgs {
    display: flex;
    justify-content: space-between;
    width: 126px;
    margin-right: 53px;
   
}

.header_leftpart_svgs::after {
    content: '';
    width: 1px;
    height: 20px;
    margin-top: 3px;
    transform: rotate(90);
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header_left_text {
    margin-right: 79px;
    color: #fff;
    
}
.header_left_text > a {
    text-decoration:none;
    color: #fff;
}

.header_left_text>a:hover {
    color: #01813F;
    transition-duration: 500ms;
    transition-property: color;

}

.header_logo:hover {
    color: #01813F;
}

svg:hover>path {
    fill: #01813F;
   
}