
.container_form {
    width: 444px;
    margin:54px auto 0 auto;
   
    height: calc(100vh - 58px);
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);

}
.container_form_top {
    display: flex;
    flex-direction: column;
    padding: 31px 60px;
}
.grid_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 4px;
    position: relative;
    margin-bottom: 31px;
}
.grid_top::after{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: -18.5%;
}
.facebook {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;
    background: #305DB8;
    border-radius: 4px;
}
.google {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 10px 15px;
    background: #e70c0c;
    border-radius: 4px;
}
.google_pic{
    height:24px ;
}
.form_log_in {
    text-decoration: none;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.form_sign_up {
    color: #434343; 
    font-size: 20px;
    line-height: 20px;
}


.facebook_link::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 1px;
    background-color:#0A162F;
    opacity: 0.1;
    left: 50px;
    bottom:8px;
    
}
.facebook > p {
    color: #fff;
    text-decoration: none;
    
}

.google > p {
    color: #fff;
    text-decoration: none;
    
}
.google_link::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 1px;
    background-color:#2B0D09;;
    opacity: 0.1;
    left: 60px;
    bottom:8px;
}
.div_or{
    
    margin-bottom: 11px;
   
}
.form_or {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form_or::before {
    content: '';
    display: inline-block;
    width: 151px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin-bottom: 3px;
    margin-right: 2px;
   
}
.form_or::after {
    content: '';
    display: inline-block;
    width: 151px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin-bottom: 3px;
    margin-left: 2px;
   
}

.sign-in {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 324px;
}
.sign-in-label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.sign-in-field {
    
    padding: 14px 20px;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border-radius: 4px;
}
.sign-in-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.sign-in-field::placeholder {
    color: #BEBEBE;
}
.sign-in-field > input {
    color:black;
}


.sign-in-btn {
    background: rgba(60, 184, 120, 0.8);
    padding: 16px 99px;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    border: none;
}
.container {
    display: flex;
    align-items: center;
    gap: 8px;  
    position: relative;  
}
.container input {
    display: none;
  }
  .checkmark {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.0001);
      border: 1px solid #F2F2F2;
  }
  .checkmark:before {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark:before {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 14px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .container input:checked ~ .checkmark:before {
    display: block;
  }
  
  .form_log_in:hover, .hover_green:hover {
      color:#01813F;
      text-decoration: underline;
  }
  .sign-in-btn:hover{
    background-color:#01813F;
}

.facebook:hover {
    background: #022263;

}
.google:hover {
    background:#AB1F09;
}