body, html {
    font-family: 'Ubuntu', sans-serif;
}
.wrapper {
    background-image: url(../img/Bg_pic.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.link_decoration {
    text-decoration: none;
}
