body, html {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.hero_name_link {
    text-decoration: none;
    color: black;
}

.hero_site_title {
    padding:38px 0;
    font-size: 80px;
    line-height: 94px;
    

}


.hero_top_menu {
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0 100px;
    background-color: #35444F;
}

.hero_menu_item {
    text-align: center;
    
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #fff;
}

.hero_menu_item:hover >a{
    background-color: #222F3A;
}


.hero_menu_item_link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 26px 32px 19px 32px;
    vertical-align: top;
}


.main {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.main_left_aside_menu {
    width: 341px;
    list-style: none;
    border: 1px solid black;
}


.main_menu_item {
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0 26px 42px;
}

.main_menu_item_link {
    text-decoration: none;
    color: #495863;
}

.main_menu_item:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
    font-weight: bold;
}
.main_menu_item:hover > .main_menu_item_link{
    color:#35444F;
    
}
.main_article {
    width: 873px;
    margin-left: 52px;
}

.main_article_pic {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 75px 0;
    margin-bottom: 37px;
}

.main_text_article {
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
}

.footer_navi {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}

.footer_menu {
    display: flex;
    list-style: none;
    align-content: center;
    padding: 20px 0;
}

.footer_menu_item {
    padding-left: 25px;
}


.footer_menu_item_link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}
.footer_menu_item_link:hover {
    color:darkturquoise;
    text-decoration: underline;
}
.footer_copyright {
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    padding-top: 22px;

}


.blue_text {
    color: darkturquoise;
}
