.about_the_ham{
    background-image: url('../imgs/MainPic.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.ham_title{
    padding-top: 80px;
    font-family: 'Montserrat';
    color:#fff;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
}

.ham_title::after{
    display: block;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    content: '';
    width: 79px;
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    right: 5px;
    position: relative;
    transform: skew(60deg);
}
.ham_pic{
    display: block;
    margin:0 auto 20px auto;
    height: 40px;

}
.ham_div > p{
    font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
text-align:center;
width: 1160px;
margin: 0 auto 30px auto;
}
.ham_main_photo{
   
    text-align: center;
}
.carousel_img{
    height: 20vh;
    border-radius: 50%;
    margin-top: 30px;
    border: 10px solid rgba(94, 243, 193, 0.1);
    
}
.set_of_imgs{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
  
}
.ham_img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 6px solid rgba(94, 243, 193, 0.1);
    margin: 20px 10px;
    cursor: pointer;
}
.arrow{
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    position: relative;
    top:60px;
}
.left::before{
    content: '';
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 12px;
    top:5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right::after{
    content: '';
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 10px;
    top:5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow:hover{
    background-color: #18CFAB;
}
.ham_active_img{
    position: relative;
    bottom: 15px;
}
.ham_noactive_img{
    position: relative;
    bottom: 0;
}
.ham_main_photo > span {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}
