
.breaking_news_title{
    font-family: 'Montserrat';
   margin-top: 80px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.breaking_news_title::after{
    display: block;
    border-top: 1px solid #18CFAB;;
    border-bottom: 1px solid #18CFAB;
    content: '';
    width: 79px;
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    right: 5px;
    position: relative;
    transform: skew(60deg);
}
.breaking_news_cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.breaking_news_card {
    position: relative;
    width: 100%;
}
.card_data{
    width: 68px;
    height: 70px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    left:195px;
    text-align: center;
    
    
}
.card_data > span{
    display: block;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Montserrat';
}
.card_data > p {
    color: #fff;
    font-size: 16px;
    line-height: 25px; 
    font-family: 'Montserrat'; 
}
.brnews_card_title{
    margin-left: 15px;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    font-family: 'Montserrat'; 
    color:  #717171;
    ;
}
.brnews_card_sp{
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    font-family: 'Montserrat'; 
    color: #777777;
}
.ps{
    margin-left: 25px;
}
.ps::before{
    display: inline-block;
    content: '';
    background-color: #777777;
    width: 1px;
    height: 15px;
    position: relative;
    right: 15px;
    top:3px;

}

.breaking_news_card:hover > .card_data {
    background-color: #18CFAB;
}
.breaking_news_card:hover > .brnews_card_title{
    color: #18CFAB;
}