.cards{
    margin-top: 5px;
    overflow: auto;
}
.cards_list_item{
    width: calc(100%/4);
    height: 350px;
    background-color: #1C2A33;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cards_list_item:nth-child(2n){
    background-color:  #18CFAB;
}
.cards_item_text{
    
    margin-top: 50px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
  
    
}
