.purchase{
    background-image: url(../imgs/purchase/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.purchase_content{
    padding-top:126px;
}
.purchase_content > h3 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    color: #18CFAB;
    
}
.purchase_content > p {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    text-align: center;
    margin-top: 10px;
}
.purchase_content > div{
    display: flex;
    justify-content: center;
}
.purchase_content > div > a {
    text-decoration: none;
    margin-top: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #18CFAB;
    color: #fff;
    padding: 16px 18px;
    border-top: 5px solid #fff;
    margin-right: 15px;
    border-radius: 3px;
    width: 169px;
}
