.services{
    overflow: auto;
    margin-bottom: 10px;
}
.services_title{
    font-family: 'Montserrat';
    margin-top: 83px;
    font-size: 36px;
    line-height: 40px;
    text-align: center; 
    
}
.services_title::after{
    display: block;
    border-top: 1px solid #18CFAB;;
    border-bottom: 1px solid #18CFAB;
    content: '';
    width: 79px;
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    right: 5px;
    position: relative;
    transform: skew(60deg);
}
.tabs{
    text-align: center;
    margin-top: 70px;
    display: flex;
    margin-bottom: 20px;
}
.services_tabs_title{
    width: calc(100%/6);
    padding: 15px 0;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    margin-bottom: 10px;
    cursor: pointer;
}
.tab-active{
    background-color: #18CFAB;
}
.tab-active::after{
    content: '';
    display: block;
    border-top: 5px solid #18CFAB;
    position: relative;
    top: 20px;
    left:90px;
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.no-active_serv{
    display: none;
}
.active_serv{
    display: block;
}
.tabs_content_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tabs_imgs{
    margin-right: 20px;
}
.tabs_imgs+p{
    color: #777777;
    font-size: 13.645px;
    line-height: 24px;
    font-family: "Montserrat";
}