
.container {
    max-width: 1400px;
    margin: 0 auto;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/bg1.jpg);
    background-size: cover;
    height:80vh;
    clip-path: polygon(0 85%, 0% 0%, 100% 0%, 100% 85%, 50% 100%);
    position: relative;
    background-attachment: fixed;
    

}
.hero_all_content {
    position: absolute;
    width: 100%;
}
.hero_navi {
    background-color: white;
    margin-top: 25px;
    width: 100%;
    
    
}
.hero_navi_top {
        
    display: flex;
    justify-content: space-between;
}
.hero_navi_company_link {
    text-decoration: none;
}
.hero_navi_company{
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    padding: 40px 0 ;
}
.hero_navi_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.hero_menu_item {
    margin:0 25px;
    
}
.hero_menu_item:hover > a {
    color:#14AFCA;
}
.hero_menu_link {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #424F57;
    text-transform: uppercase;
    font-weight: 600;
}
.hero_title {
    margin-top: 149px;
    
    
}
.hero_title_text {
    text-align: center;
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
    text-transform: uppercase;
}



footer{
    text-align: center;
}
footer > p {
    width:400px;
    margin: 0 auto;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans';
    color: #3D3C3C;
}
footer > p > span {
    font-weight: 800;
}

.blue_text {
    font-weight: 600;
    color: #14AFCA;
    text-transform: uppercase;
   
}