.what {
    margin-top: 122px;
    text-align: center;
    margin-bottom: 90px;
}

.what_txt {
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}


.companies {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/bg2.jpg);
    height: 80vh;
    background-size: cover;
    margin-bottom: 70px;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-position: bottom 900px right 0px;
    background-attachment: fixed;
}

.companies_content {
    padding-top: 150px;
    text-align: center;
    color: #FFF;
}



.logo2 {
    background-image: url(../img/logo2_1.svg);
    height: 99px;
    width: 225px;

    background-size: cover;

}

.logo_inside {
    margin-top: 20px;
    vertical-align: middle;
}

.companies_grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px 153px;
    align-items: center;

}

.meet_us {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}


.meet_us_profiles {
    display: flex;
    justify-content: space-between;
}

.meet_us_profile {
    width: 309px;
}

.meet_us_profile>p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 28px;
}

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg3.jpg);
    height: 80vh;
    background-size: cover;
    margin-bottom: 70px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-position: bottom 900px right 0px;
    background-attachment: fixed;
}

.testimonials {
    text-align: center;
    color: #FFFFFF;
}

.testimonials_content {
    padding-top: 180px;
}


.testimonials_text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    width: 900px;
    margin: 20px auto 50px auto;
    text-align: center;
    font-family: 'Open Sans';
    font-style: italic;
    color: #D3CCCC;
}

.testimonials_author {
    text-align: right;
    margin-right: 420px;
}

.why {
    text-align: center;
}

.why_text {
    font-family: Roboto;
    font-weight: bold;
    width: 900px;
    margin: 0 auto 96px auto;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}


.article_title {
    font-size: 60px;
    line-height: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.article_subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 25px;
}