/*
  Theme
*/
.dark {
    background: hsl(230, 17%, 14%);
    color: white;
}

.light {
    background: white;
    color: hsl(230, 17%, 14%);
}



.toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.toggle-switch p {
    padding: 1em;
}

.light_topics{
    color:black;
}
.white_themes{
    color: black;
}
