body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  margin-top: 600px;
}



.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: yellow;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.star_wars_text {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: animation 30s linear;
  animation-iteration-count: infinite;
}

.title {
  font-size: 90%;
  text-align: center;
}

.title>h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes animation {
  0% {
    top: 0;
    transform: rotateX(18deg) translateZ(10px);
  }

  100% {
    top: -6000px;
    transform: rotateX(20deg) translateZ(-2500px);
  }
}