body, html {
    font-family: 'Roboto', sans-serif;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    grid-row-gap: 37px;
    justify-content: space-between;
    margin-bottom: 49px;
}

.gallery_card {
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.gallery_link {
	text-decoration:none;
}
.gallery_card_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_card_content {
    position: absolute;
    width: 300px;
    height: 55px;
    top: 100%;
    background: var(--orange);
    color:white;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    box-sizing: border-box;
    align-items: center;

}

.gallery_link:hover .gallery_card_content{
    top: 78%;
}
.gallery_link:hover .card_name {
    color: var(--orange);
}
.gallery_card_content_text  {
    padding-left: 16px;
}
.from {
    font-size: 8px;
}
.money {
    display: inline-block;
    margin-top: 8px;
    font-size: 20px;
    line-height: 20px;
}
.details{
    padding-right: 37px;
}
.details::after {
  content: '';
  position: absolute;
  right: 5%;
  top: 50%;
  display: block;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 5px;
  height: 5px;
  float: right;
  transform: translate(-50%, -50%) rotate(-45deg);
    
}
.card_name {
     font-family: 'Roboto', sans-serif; 
    width: 300px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

.copy_rights > p {
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-bottom: 40px;
}