:root {
    --orange: #F26522;
}

.container {
    max-width:1030px;
    margin: 0 auto;
}


.hero_site_logo {
    background-image: url(../../img/milan_logo.svg);
    width: 53px;
}

.logo_link:hover .hero_site_logo {
    background-image: url(../../img/main_logo_orng.svg);
}

.logo_link:hover h1, .logo_link:hover h2{
    color: var(--orange);
}


.top_part {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.top_part > a {
    text-decoration: none;
}

.top_logo_part {
    display: flex;

}

.second_top_logo_part {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.Header {
    color: white;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.header2 {
    color: white;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.third_part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email {
    text-decoration: none;
    color: white;
}

.email:hover {
    color:var(--orange);
}

.phone:hover {
    color:var(--orange);
}

.phone {
    text-decoration: none;
    align-self: flex-end;
    color: white;
}