.root {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 99%;
  margin: 0 auto;
}

.titleText {
  color:aliceblue;
  font-size: 50px;
}