.root {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border:1px solid black;
  border-radius: 10px;
  background-color: rgb(44, 58, 59);
  margin-bottom: 20px;
  span:first-of-type {
    font-size: 18px;
    font-weight: 700;
  }

  span:last-of-type {
    font-size: 14px;
    font-weight: 500;
  }

  svg {
    transform: scale(.7);
    margin-right: 10px;
  }

  div {
    display: flex;
    align-items: center;
  }

  .close{
    color: transparent;
    cursor: pointer;
  }

  &:hover > .close{
   color: grey;
  }
}
.textColor{
  width: 250px;
  margin-right: 30px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight:900;
}

.textColorCount{
  color: aliceblue;
  margin-right: 7px;
}