.footer {
    background-color: black;
}
.footer__svg-party{
    display: flex;
    justify-content: center;  
    margin-top: 26px; 
}
.svg__item{
    width: max-content;
}
.footer__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    padding-top: 38px;
}
.footer__text{
    font-size: 12px;
line-height: 20px;
color: #B9B9B9;
text-align: center;
margin-right: 38px;
margin-left: 38px;
margin-top: 8px;
@media (min-width: 768px) {
    font-size: 16px;
    line-height: 28px;
    
 }

}
.footer__contacts{
    text-align: center;
    padding-bottom: 70px;
    margin-top: 30px;

}
.footer__contacts-p{
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    text-align: center;
    margin-top: 26px;
    
}