*{
    margin: 0;
    padding: 0;
}
.page__nav{
    position: relative;
    padding-top: 23px;
    @media (min-width: 768px) {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;
        
     }
}
.page__header-burger{
    
    background-color: #000;
    width: 44px;
    height: 37px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    order:1;


    @media (min-width: 768px) {
        display: none;
     }
  }



.page-header__menu{
    @media (max-width:320px) {
        display: none;
    }
    @media (min-width:320px) {
        display: none;
        list-style: none;
        width: 182px;
        background-color: #F5F5F5;
        position: absolute;
        right:0px;
        top:60px;
    }
    
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position:static;
      width: max-content;
      background-color: transparent;
      margin-left: auto;
      margin-right: auto;
   }
}
.visible{
    display: block;
}
.burger__item{
  width: 17px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 2px;
  transition: 0.4s;
}

.page-header--pic{
    margin-top: 43px;
    width: 100%;
    height: auto;
}
.menu__item{
    
    @media (min-width: 768px) {
        margin-right: 20px;
     }
    @media (min-width: 1200px) {
        margin-right: 68px;
     }
}
.menu__link{
    margin-left: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: #4E4E4E;

    &:hover{
        color:#57A4A4;
    }
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-1px, -1px);
  }