.page__posts{
    margin-bottom: 40px;
}
.post__content{
    @media (min-width: 1200px) {
        display: flex;
        height: 352px;
        flex-direction: row;
        flex-wrap: wrap;
        grid-row-gap: 30px;
    }
}


.post__content-item{
    @media (min-width: 768px) {
        display: flex;
        width:max-content;
    }
}
.post__content-item--notvisible{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}
.posts__title{
    margin-top: 38px;
    font-size: 14px;
    line-height: 22px;
    color: #4E4E4E;
    text-transform: uppercase;
}
.post__content-item{
    margin-top: 28px;
}
.page__content-wrapper{
    @media (min-width: 768px) {
        width: 400px;
        margin-left: 20px;
    }
    
}
.posts__content-title{
    font-size: 14px;
    line-height: 30px;
    color: #4E4E4E;
    font-weight: bold;
}
.posts__content-subtitle{
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
}
.page__content-text{
    display: none;
    font-size: 14px;
    line-height: 26px;
    margin-top: 13px;
    color: #5C5C5C;
    @media (min-width: 768px) {
        display: block;
    }
}