
@import './_extend.scss';
@import './hero.scss';
@import './posts';
@import './footer';





.container{
    
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 320px) {
       width: 90%;
       padding-left:15px ;
       padding-right:15px ;
     }
     @media (min-width: 1200px) {
      width: 1170px;
    }
}

.page__body{
  font-family: 'Roboto', sans-serif;
}