.amazing_work{
    padding-top: 80px;
    background-color:#E9EDEF;
}
.amazing_title{
    font-family: 'Montserrat';
   
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.amazing_title::after{
    display: block;
    border-top: 1px solid #18CFAB;;
    border-bottom: 1px solid #18CFAB;
    content: '';
    width: 79px;
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    right: 5px;
    position: relative;
    transform: skew(60deg);
}
.centered-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amazing-tabs{
    margin-top: 50px    ;
    display: flex;
    justify-content: center;
    
}
.amazing-tabs-title{
    text-align: center;
    padding: 15px;
    background-color: #E9EDEF;
    border: 1px solid #DADADA;
    
    cursor: pointer;
}

.amazing_photos{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.amazing_btn_link{
    display: flex;
    align-self: center;
    justify-content: center;
    text-decoration: none;
}
.amazing_btn_div{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #18CFAB;
    width: 160px;
    height: 35px;
    cursor: pointer;
    
}
.amazing_btn_name{
    align-self: center;
    color: #fff;
    
}
.amazing_christ {
    background: #fff;
    height: 15px; 
    width: 3px;
    position: relative; 
    left: -10px;
    top:10px
 }

.amazing_christ:after {
content: "";
height: 3px; 
width: 15px;
background: #fff;
position: absolute; 
left: -6px; 
top: 7px;
}
.amazing_photo_item{
    height: 206px;
    position: relative;
    overflow: hidden;
}
.amazing_photo_item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.amazing_photo_content{
    background-color: #E9EDEF;
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    transition: top 0.4s; 
    width: 100%;
    height: 100%;
}
.amazing_photo_content > h3{
    text-align: center;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
}
.amazing_photo_content > span {
    display: block;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}
.amazing_photo_item:hover .amazing_photo_content {
    top: 0;
}
.amazing_photo_content > div {
    margin: 30px 0;
    text-align: center;
        
}
.amazing_photo_content > div > img{
    
   
   width: 50px;
   height: 50px;
}

.amazing-tab-active{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.active_amazing_item{
    display: block;
}
.noactive_amazing_item{
    display: none;
}