footer{
    height: 120px;
    background-color: #22353F;

}
footer > p{
     font-size: 14px;
    line-height: 26px;
    color:#AEAEAE;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
    padding-top: 60px;
}
footer > p > span{
    color: #18CFAB;
    
}