.container {
    max-width: 1160px;
    margin: 0 auto;
}

.hero {
    background-image: url(../imgs/Layer\ 1\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero_navi {
    background-color: rgba(102, 101, 101, 0.5);
}

.top_bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_top_bar {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.logo_title {
    position: absolute;
    left: 15px;
    font-size: 40px;
    line-height: 31px;
    color: white;
    font-weight: bold;

}

.title_main {
    margin-left: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 48px;
}

.hero_menu {
    display: flex;
    list-style: none;
}

.hero_menu_item {
    margin-right: 21px;
}

.hero_menu_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.hero_menu_link:hover {
    color: #18CFAB;
}
.hero_main_title{
    margin-top: 204px;
}
.title_first{
    display: block;
    color:white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 22px;
}
.title_second{
    color:white;
    text-align: center;
    font-size: 78px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.title_third{
    color:rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 30px;
    margin-bottom: 130px;
}
.hero_buttons{
    text-align: center;
}
.hero_btn{
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 18px;
  
    margin-right: 15px;
    border-radius: 3px;
    border-top: 5px solid #fff;
    width: 169px;
}
.btn1{
    background-color: #18CFAB;
}
.btn2{
    background-color: #00CBF6;
}









.green_title {
    color: #18CFAB;
}